p There are {{posts.length}} posts
.container
  .row
    div(ng-repeat='post in posts')
      .col-md-4
        h3 {{post.title}}
        div {{post.text}}
        div (id:{{post._id}})
        p
        a(href='/readPost/{{post._id}}') More
        |  - 
        a(href='/editPost/{{post._id}}') Edit
        |  - 
        a(href='/deletePost/{{post._id}}') Delete
        p
          a.btn.btn-default(href='#', role='button') View Details &raquo;