p There are {{posts.length}} posts
.container
  .row
    div(ng-repeat='post in posts')
      .col-md-4
        .panel.panel-success
          .panel-heading
            h3(class='panel-title') {{post.title}}
          .panel-body 
            {{post.text}}
            br
            br
            p
              a.btn.btn-sm.btn-primary(href='/readPost/{{post._id}}', role='button') View Details &raquo;