!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title Angular Express Seed App
		//link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
	body
	div(class="navbar navbar-inverse navbar-static-top")
		div(class="container")
			a(href="#", class="navbar-brand") My Blog
			button(class="navbar-toggle", data-toggle="collapse", data-target=".navHeaderCollapse") f
			div(class="collapse navbar-collapse navHeaderCollapse")
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="#") Home

	block body